@page "/stripe"
@rendermode InteractiveWebAssembly
@using BlazorBootstrap
@using ToolPool.Client.Models
@using ToolPool.Client.Services
@using System.Globalization
@inject ToolService ItemService
@inject CartService Cart
@inject HttpClient Http
@inject ToolService ToolService

<h2 class="pageTitle">Upload a Tool</h2>
<span class="pageSubtitle">Post a tool for others to view.</span>

<div class="browse-location-card">

    <div class="browse-filter-group">
        <span class="browse-filter-label">Title*</span>
        <TextInput @bind-Value="@toolSubmission.Name" Placeholder="Title" />
    </div>

    <div class="browse-filter-group">
        <span class="browse-filter-label">Price*</span>
        <CurrencyInput @bind-Value="@toolSubmission.Price" TValue="decimal" />
    </div>

    <div class="browse-filter-group">
        <span class="browse-filter-label">Description*</span>
        <TextInput @bind-Value="@toolSubmission.Description" Placeholder="Description" />
    </div>

    @if (categoriesLoaded)
    {
        <div class="browse-filter-group">
            <span class="browse-filter-label">Category*</span>
            <Button Type="ButtonType.Button" Color="ButtonColor.Light" @onclick="ToggleCategories"> Category @(toolSubmission.Category == string.Empty ? "" : $"({toolSubmission.Category})") ⌵</Button>

            <Collapse @ref="categoriesMenu">
                <InputRadioGroup @bind-Value="toolSubmission.Category">
                @foreach(var c in categoriesList)
                    {
                        <div style="display: flex; align-items: center;">
                            <InputRadio id="@c" Value="@c"/>
                            <label for="@c" style="margin-left: 5px">@c</label>
                        </div>
                    }
                </InputRadioGroup>
            </Collapse>
        </div>
    }

    <div class="browse-search-group">
        <span class="browse-filter-label">Location*</span>
        <span class="location-search">
            <AutoComplete @bind-Value="addressSearch"
                          TItem="AddressPair"
                          DataProvider="GetSuggestions"
                          PropertyName="Address"
                          StringComparison="StringComparison.OrdinalIgnoreCase"
                          Placeholder=@locationPlaceholder
                          OnChanged="AddressSelect" />
        </span>
    </div>

    <div class="browse-search-group">
        <span class="browse-filter-label">Image URL</span>
        <TextInput @bind-Value="@toolSubmission.ImageUrl" Placeholder="Upload image" />
    </div>

    <i>* fields are required</i>
    <Button Color="ButtonColor.Success" @onclick="SubmitTool" Disabled="@MissingFields()">Upload Tool!</Button>
    @submitMessage

    @* <div class="submit-actions">
        <button class="btn-submit" @onclick="SubmitItem" disabled="@IsSubmitting">
            @(IsSubmitting ? "Publishing..." : "Publish Tool")
        </button>
    </div> *@

    @* @if (!string.IsNullOrWhiteSpace(SubmitMessage))
    {
        <span class="submit-msg @(SubmitOk ? "ok" : "err")">@SubmitMessage</span>
    } *@
</div>

@code {
    private Tool toolSubmission = new();

    Collapse categoriesMenu = default!;
    private List<String> categoriesList;
    private bool categoriesLoaded = false;
    private async Task ToggleCategories()
    {
        await categoriesMenu.ToggleAsync();
    }

    private string locationPlaceholder = "Search for a location";
    private string addressSearch;

    private async Task<AutoCompleteDataProviderResult<AddressPair>> GetSuggestions(AutoCompleteDataProviderRequest<AddressPair> ap)
    {
        var results = await Http.GetFromJsonAsync<List<AddressPair>>($"api/suggestLocations/{ap.Filter.Value}");
        return new AutoCompleteDataProviderResult<AddressPair>
        {
            Data = results,
            TotalCount = results.Count
        };
    }

    private async Task AddressSelect(AddressPair ap)
    {
        var coords = await Http.GetFromJsonAsync<Location>($"api/getCoordinates/{ap.PlaceId}");
        locationPlaceholder = await ToolService.ReverseGeocode(coords.Latitude.ToString(), coords.Longitude.ToString());
        toolSubmission.AddressLat = coords.Latitude;
        toolSubmission.AddressLng = coords.Longitude;
    }

    protected override async Task OnInitializedAsync()
    {
        categoriesList = await ToolService.GetCategoriesAsync();
        categoriesLoaded = true;
    }

    //field validation
    private bool MissingFields()
    {
        return toolSubmission.Name == String.Empty ||
                toolSubmission.Description == String.Empty ||
                toolSubmission.Price <= 0 ||
                toolSubmission.Category == String.Empty ||
                toolSubmission.AddressLat == 0 ||
                toolSubmission.AddressLng == 0;
    }

    private string submitMessage;
    private async Task SubmitTool()
    {
        //TODO: set neighborhood as closest lat/long https://libraries.io/nuget/Philiprehberger.Geolocation
        submitMessage = "check browser console for tool object details, just pass the object directly to api to post";
        foreach (var prop in toolSubmission.GetType().GetProperties())
        {
            Console.WriteLine($"{prop.Name}: {prop.GetValue(toolSubmission)}");
        }        
    }
}